body,html{
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  font-weight: 400;
}
/* scrolling */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
    
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #353b48;
    
}
.my-title{
  font-size: 46px;
  font-weight: 100;
  margin: 0;
  margin-bottom: 20px;
}
.hide{
  
  /* display: none !important; */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.show{
  display: inline-block !important;
}
/* scrolling */
.content{
  text-align: center;
}
.downloadCvBtn{

  background-color: #31475e;
  border-color: transparent;
  color: #fff;
  width: 150px;
}
.downloadCvBtn:hover{
  color: #fff;
  outline: none;

}
.downloadCvBtn:focus{
  color: #fff;
  outline: none;
}
.logo{
  position: absolute;
  height: 150px;
  width: 150px;
  left: -50px;
  z-index: 1;
}
.my-buttons{
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 1;
}
.patreon-button{
    background-image: url('../img/icons/download.png');
    background-position: center center;
    background-size: contain;
    width: 150px;
    outline: none;
}
.myHero{
position: relative;
}
.hero-emage{
  background-image: url('../img/logos/amr.png');
  /* margin-bottom: 50px; */
  margin-top:-30px;
  height: 450px;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}


.shap-1{
  position: absolute;
  width: 500px;
  height: 1000px;
  bottom: -50vh;
  left: -50px;
}
.shap-2{
  position: absolute;
  width: 500px;
  bottom: -50vh;
  right: -60px;
}
.shap-3{
  position: absolute;
  height: 400px;
  top: 100px;
  right: 100px;
}
.shap-4{
  position: absolute;
  height: 1300px;
  top: 90px;
  right: 0;
}
.shap-5{
  display: none;
}


.tow-images img{
  width: 35px;
  margin-right: 20px;
  margin-top: 10px;
}

/* BRACK */
.bgimg-2 {
  background-image: url("../img/logos/facebook_cover_photo_2.png");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
/* BRACK */

/* whatIOffer */
.whatIOffer{
  margin-top: 300px;
  margin-bottom: 150px;
}

.whatIOfferCard{
    box-shadow: 0 0 38px rgba(117, 117, 115, 0.3), 0 0 0 rgba(220, 235, 14, 0.22);
    padding: 60px 15px;
    margin: 10px;
    border-radius: 5px;
}
.whatIOfferCard .content{
  text-align: left;
}
/* whatIOffer */

/* about */
.aboutSection{
  background: #353b48;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 50px;

}


.about{
  max-width: 1000px;
  text-align: center;
}
.about img{
  width: 200px;
  user-select: none;
}
.about .aboutContent{
  text-align: left;
  display: inline-block;
  width: 50%;
  margin-left: 50px;
}
.about .aboutContent p{
    color: #99a0af;
    font-size: 73px;
    font-size: 15px!important;
    line-height: 30px;
}
.about .aboutContent h2{
  color: #c5d4f5
}
/* about */

/* myProject */

.gitPtn{
  display: none;
}
.gitPtndicktop{
    position: absolute;
    right: 5px;
    background: #3F3D56;
    color: #fff;
    border: none;
    padding: 3px 8px;
    border-radius: 5px;  
    margin: 20px;
}
.gitPtndicktop:hover{
  color: #fff;
}
.myProject{
height: 100vh;
margin: 200px 100px 0 100px;
}

.dark{
    border-radius: 40px 40px 0 0;
    background: #3F3D56;
    padding: 20px 30px;
}

.yalow{
  background: #FFC107;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}
.tapyalow .top-button button{
  width: 100%;
  display: block;
  padding: 50px 0;
  background: transparent;
  font-size: 20px;
  outline: none;
  border: none;
  color: #3F3D56;
  cursor: pointer;  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);  
}
.tapyalow .top-button button:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);    
}
.active{
  border-bottom: 1px solid #000 !important;

}
.towTaps{
  position: relative;
}
.tapyalow{
    position: absolute;
    left: 0;
    width: 30%;
    height: 90vh;
    background: #FFC107;
    display: inline-block;
    border-radius: 0 0 0 40px;
}
.tapGray{
    position: absolute;
    height: 90vh;
    right: 0;
    width: 70%;
    background: #e4e4e4;
    display: inline-block;
    border-radius: 0 0 40px 0;
    overflow: scroll;
    overflow-x: hidden;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}


.my-card
{
    flex-basis: calc(33.333% - 20px);
    display: inline-block;
    margin: 10px;
    overflow: hidden;
}

.img{
  height: 200px; 
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 50px 0;
}
.frontend1{
   background-image: url('/assets/img/myproject/frontendimg/1e-commercewith-vue-nuxt-vuex-vuetify-axios.jpg');
}
.frontend2{
   background-image: url('/assets/img/myproject/frontendimg/2spacexApi.jpg');
   /* border-radius: 50%; */
}
.frontend3{
   background-image: url('/assets/img/myproject/frontendimg/3moviecinema.jpg');
}
.frontend4{
   background-image: url('/assets/img/myproject/frontendimg/4egypt_cities.jpg');
}
.frontend5{
   background-image: url('/assets/img/myproject/frontendimg/5vue-app-ecommerce-bootstrap.jpg');
   /* border-radius: 50%; */
}
.uiUx1{
   background-image: url('/assets/img/myproject/uiux/1profile.jpg');
   /* border-radius: 50%;   */
}
.uiUx2{
   background-image: url('/assets/img/myproject/uiux/2Responsive.PNG');
   /* border-radius: 50%;   */
}
.uiUx3{
   background-image: url('/assets/img/myproject/uiux/3Starnight.PNG');
   /* border-radius: 50%;   */
}
.uiUx4{
   background-image: url('/assets/img/myproject/uiux/43kod.PNG');
   /* border-radius: 50%;   */
}
.uiUx5{
   background-image: url('/assets/img/myproject/uiux/5Eclipse.png');
   /* border-radius: 50%;   */
}
.uiUx6{
   background-image: url('/assets/img/myproject/uiux/6Colingz.jpg');
   /* border-radius: 50%;   */
}
.uiUx7{
   background-image: url('/assets/img/myproject/uiux/7Acosta\ .png');
   /* border-radius: 50%;   */
}
.uiUx8{
   background-image: url('/assets/img/myproject/uiux/8dron.PNG');
   /* border-radius: 50%;   */
}
.uiUx9{
   background-image: url('/assets/img/myproject/uiux/9counsel.jpg');
   /* border-radius: 50%;   */
}
.uiUx10{
   background-image: url('/assets/img/myproject/uiux/STARTUPLY\ .webp');
   /* border-radius: 50%;   */
}
.practic1{
   background-image: url('/assets/img/myproject/practes/1.PNG');
   /* border-radius: 50%;   */
}
/* .phonePars{
  display: none;
} */

.my-card p{
  display: none;
}



/* phone with css */


.demo__phone {
  position: relative;
  width: 305.25px;
  height: 633px;
  padding-top: 1px;
  background-color: #120d30;
  border-radius: 40px;
  margin: auto;
  margin-bottom: 200px;
}

.demo__screen-wrapper {
  position: relative;
  height: 609px;
  width: 281.25px;
  margin-top: 11px;
  margin-left: 12px;
  overflow: hidden;
  border-radius: 30px;
}

.demo__screen {
  position: relative;
  overflow: scroll;
  height: 609px;
  width: 290px;
  padding-top: 25px;
  background: #fff;
  border-radius: 30px;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-perspective: 700px;
          perspective: 700px;
}

.demo__notch {
  position: absolute;
  top: 11px;
  left: 74.25px;
  height: 22.5px;
  width: 156.75px;
  background-color: #120d30;
  border-radius: 0 0 15px 15px;
}



/* phone with css */
/* contact */
.contact{
  position: relative;
  height: 100vh;
}
.middle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.havaproject{
  font-size: 3.25rem ;
}
.myEmail{
  font-size: 60px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.myEmail:hover{
  color: #3273dc;
  text-decoration: underline;
}
.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #2f3640;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #fbc531;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
/* contact */